<div class="signinForm flex lg:justify-between justify-center items-center h-screen rounded">
  <mat-card>
    <mat-card-header class="text-2xl mx-12"><h1>Sign In</h1></mat-card-header>
    <mat-card-content>
      <p>
        <mat-form-field appearance="outline" class="w-full" >
          <mat-label>Enter your login</mat-label>
          <input matInput placeholder="Login" >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input class="h-1" matInput placeholder="Password" [type]="hide? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon class="">{{hide? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </p>
    </mat-card-content>
    <button class="w-full h-10" mat-raised-button color="primary" (click)="signInHandler()">Sign in</button>
  </mat-card>
</div>
