<div class="wrapper">
  <div *ngIf="accounts.length==0">
    Счетов нет
  </div>
  <div *ngFor="let acc of accounts">
    <app-account [account]="acc"></app-account>
  </div>
</div>
<div class="buttons">
  <button *ngIf="!isCreate" mat-button color="primary" (click)="isCreate = !isCreate">Создать новый счёт</button>
  <form>
    <div class="create-form" *ngIf="isCreate">
      <div>Выберите валюту
        <select id="selectvalue"
                [ngModelOptions]="{standalone: true}"   [(ngModel)]="currency">
          <option>RUB</option>
          <option>USD</option>
        </select>
      </div>
      <div>
        <input matInput placeholder="Введите начальную сумму" class="input"
               [ngModelOptions]="{standalone: true}" [(ngModel)]="sum">
      </div>
      <div>
        <button mat-button color="primary" (click)="createAccount()">Создать</button>
      </div>
    </div>
  </form>
</div>
